$heading-color:#14183E;
$paragraph-color:#5E6282;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container{
    max-width: 900px;
    margin:  0 auto;
    padding: 20px;
}
h1,p,h2,h4{
    margin:15px 0;
}
p,h5,h3{
    color: $paragraph-color;
}
h1{
    color:$heading-color;
}
button{
    padding: 9px 22px;
    border-radius: 5px;
}

// *****************************************   H E A D E R   ******************************************
header{
    @include flex();
    padding-top: 30px;
    text-align: center;
    nav *:hover{
        color: #DF6951;
    }
    a{
        color: #212832;
        padding: 13px;
    }
    button{
        border: 1px solid #DF6951;
        background: transparent; //#212832;
        margin-left: 13px;
    }
}

// *****************************************   H O M E   ******************************************
.home {
    @include flex();
    text-align: center;
    width: 100%;
    h4{
        color: #DF6951;
    }
    h1{
        color: #181E4B;
        font-size: 54px;
    }
    img{
        width: 100%;
    }
    button{
        color: #fff;
        background-color: #F1A501;
        border: 1px solid #F1A501; 
    }
    button:hover{
        color: #F1A501;
        background-color: transparent;
        transition: .6 ease;
    }
    .text{
        //width: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        img{
            position: relative;
            top: 7px;
            width: 65px;
            height: 65px;

        }
        .buttons{
            padding-top: 10px;
            @include flex();
            flex-direction: row;
            height: 50px;
            width: 80%;
        }
    }
}

// ***************************************   S E R V I C E S   ******************************************

.services {
    text-align: center;
    .card-wrapper{
        @include flex();
        gap: 5%;
    }
    .plane{
        img{
            width: 75%;
        }
    }
    .plane{
        img{
            padding-bottom: 0;
        }
    }
    .cards{
        padding: 20px;
        @include flex();
        flex-direction: column;
        width: 220px;
        height: 250px;
        border-radius: 46px;
    }
    .cards:hover{
        box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.150);
    }
}
// **************************************  D E S T I N A T I O N   ******************************************

.destination{
    text-align: center;
    position: relative;
    .image-wrapper{
        @include flex();
        img{
            width: 300px;
            height: 400px;
        }
        .images{
            .text{
                position: absolute;
                bottom: 224px;
                left: 56px;
                background-color: white;
                height: 85px;
                width: 222px;
                border-bottom-right-radius: 24px;
                border-bottom-left-radius: 24px;
                box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.089);
            }
        }
    }
}

// **************************************  B O O K I N G S   ******************************************
.bookings{
    @include flex();
    .text{
        .one{
            padding: 12px 0;
            @include flex();
            flex-direction: row;//
            gap: 5%;
            p,h5{
                margin: 5px 0px;
            }
        }
    }
    .card{
       img{
           width: 100%
       }
    }
}

// **************************************  T E S T I M O N I A L S   ******************************************
.testimonials{
    @include flex();
    .right{
        img{
            width: 50px;
        }
        box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.089);
        border-radius: 24px;
    }
}

// **************************************  L O G O S  ******************************************
.logos{
    padding: 20px 0;
    @include flex();
}

// **********************************  S U B S C R I P T I O N  ******************************************
.subscription{
    text-align: center;
    padding: 8%;
    input{
        padding: 1.7%;
        background-color: #fff;
        border: none;
        box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.137);
        border-radius: 7px;
    }
    input:focus{
        outline: none;
    }
    button{
        color: #fff;
        background-color: #FF7D68;
        border: 1px solid #FF7D68;
        padding: 5px;
    }
    .email{
        padding: 7%;
    }
}

// **************************************  F O O T E R   ******************************************
footer{
    //@include flex();
    padding: 20px 0;
    text-align: left;
    display: grid;
    //grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    //gap: 6%;
    .one{
        grid-template-rows: 1/-1;
    }
    h2{
        margin-top: 0;
    }
    h3{
        margin-bottom: 17px;
    }
    li{
        margin: 7px 0;
    }
}

.copyright{
    text-align: center;
    color: #a0a0a0;
    padding: 30px;
}


@media (min-width:800px)
{
    @mixin flex {
        flex-direction: row;
        justify-content: space-between;
    }
    header,
    .home, 
    .services .card-wrapper, .services .cards,
    .destination .image-wrapper,
    .bookings,
    .logos,
    .testimonials{
        @include flex();
    }
    .home{
        text-align: left;
        img{
            width: 60%;
        }
        .text{
            width: 40%;
        }
    }
    .services {
        .card-wrapper{
            padding: 50px 0;
        }
        .cards {
            flex-direction: column;
        }
        .plane{
            padding-bottom: 42px;
        }
    }
    .destination{
        .image-wrapper{
            padding: 50px 0 0 0;
        }
    }
    .testimonials{
        align-items: flex-start;
        .left{
            h1{
                padding-top: 20px;
            }
        }
        .right{
            padding: 20px;
            width: 45%;
        }
    }
    footer{
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    }
}